
html,body{
  overflow-x: hidden;
}

img{
  height: 200px;
  width: 200px;
}


.description{
  display: flex;
  flex-direction: column;
  color: rgb(91, 91, 91);
  font-size: 0.9rem;
  padding: 0;
}


.card-container{
  margin:8px;
  border-radius: 3px;
  border: 0.6px solid rgb(233, 233, 233);
}

.image{
  width: 99.7% !important;
}

.line{
  padding-bottom: 5px;
}

.icon{
  height: 100px !important;
}


.input-items{
  text-align: right !important;
}

.input-area{
  width: 250px;
}




/* -----------loading indicator----------- */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #333;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}